<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HostStats.xyz - Dashboard</title>
    <div th:replace="fragments/header_dashboard :: header-css"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">

<div th:replace="fragments/header_dashboard :: header"/>


<div class="content-wrapper">
    <div class="container">
        <center><span th:text="${info}" style="color: red"></span></center>
        <h1>Dashboard</h1>
        <div class="container">


            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">List of your hosts</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Title</th>
                        <th>OS name</th>
                        <th>Memory</th>
                        <th>Disk</th>
                        <th>Cpu</th>
                        <th>Update time</th>
                        <th>IP</th>
                        <th>Uptime</th>
                        <th>Action</th>

                    </tr>
                    <tr th:each="host: ${hostsList}">
                        <td th:text="${host.hostTitle}"></td>
                        <td th:text="${host.hostOs}"></td>
                        <td th:text="${host.hostMemory}"></td>
                        <td th:text="${host.hostDisk}"></td>
                        <td th:text="${host.hostCpu}"></td>
                        <td th:text="${host.hostUpdate}"></td>
                        <td th:text="${host.hostIp}"></td>
                        <td th:text="${host.hostUptime}"></td>
                        <td>
                            <a th:href="@{/dashboard/hostinfo/{hostkey}/(hostkey=${host.hostId})}" class="btn btn-primary" role="button">Info</a>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>




    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer_dashboard :: footer"/>

</body>
</html>